{% load static %}

<div class=" text-center  rounded-0 mt-5" style="margin-bottom:0" id= "footer">
    <img src="{% static 'assests/Logo.png' %} " alt="شعار الجامعة" style="width:100px; height: 100px; background-color: #FAFAFA; "  class="img-fluid ">  
    <div>
         <a href="#" class="social" > <i class="fab fa-facebook-square " ></i></a>
         <a href="#" class="social" > <i class="fab fa-twitter-square "  ></i></a>
         <a href="#" class="social" >  <i class="fab fa-youtube-square "  ></i></a>
         <a href="#" class="social" ><i class="fab  fa-github-square "  ></i></a>  
         <a href="#" class="social" ><i class="fab fa-instagram " style="user-select: auto;"></i></a> 
      </div>
  </div>